
header { grid-area: header;
         text-align: center;
         background: url("https://media.istockphoto.com/photos/blue-circle-light-bulbs-and-smoke-abstract-background-picture-id945925142");
         background-size: cover;
         color: darkblue; }
aside { grid-area: aside;
        display:flex;
        justify-content : space-between;
        margin: 0px; }
.projects { grid-area: projects; }
.publish{ grid-area:publish;}
footer { grid-area: footer; }
ul{ grid-area: ul}

  header {

  }
  a {
    color: white;
  }
  h1 {
    font-size: 70px;
  }
  img {
    margin: 40px 0px 0px 0px;
    border: 7px solid blue;
    border-radius: 20px;
  }
  ul {
    display:flex;
    justify-content : space-between;
    /*text-align:center;*/
    padding: 30px;
    background: rgba(0,0,200,0.5);
    margin: 0px;
  }
  li {
    display: inline;
    font-size: 26px;
    padding: 0px 50px 0px 50px;
  }
  h2 {
   padding: 20px;
  }
  article {
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
  }
  .projects{ 
    display: flex;
    align-items:center;
    padding: 10px;
    background: #7b778884;
  }
  .publish {   
    display: flex;
    justify-content : center;
 } 
 footer {   
  display: flex;
  justify-content : center;
  margin: 0px;
  /*align-items:center;*/
 } 
  .container {
    display: grid;
    grid-template-areas: 
      "header header header"
      "ul ul ul"
      "aside  aside  aside "
      "projects projects projects"
      "publish publish publish"
      "footer footer footer";
  }
 
     
  main {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
  }
  p {
    color: rgba(255,255,255,1);
    background: black;
    background: linear-gradient(bottom, rgb(55, 100, 136), rgba(0,0,0,.4));
    background: -webkit-linear-gradient(bottom, rgb(55, 100, 136), rgba(0,0,0,.4));
    background: -moz-linear-gradient(bottom, rgb(55, 100, 136), rgba(0,0,0,.4));
    padding: 10px;
    line-height: 28px;
    height: 30px;
    transition: height 1s;
    -webkit-transition: height 1s;
    -moz-transition: height 1s;
  }
  small {
    font-size: 16px;
  }

  .show-description p {
    height: 150px;
  }
 
  @media (max-width: 550px) {
    header, aside, main, footer {
      margin: 0
    }
  }
  /* @media (max-width: 500px) {
    h1 {
      font-size: 36px;
      padding: 5px;
    }
    li {
      padding: 5px;
      display: block;
    }
  } 
  input {
    border: 0;
    padding: 10px;
    font-size: 18px;
  }
  input[type="submit"] {
    background: green;
    color: white;
  }
 input[type="email"] {
   background: lightgrey;
  } */